src/main/resources/practice1/group.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT group (student*)>
<!ELEMENT student (subject*,average?)>
<!ATTLIST student
        id CDATA #REQUIRED
        id_chat CDATA #REQUIRED
        groupNumber CDATA #REQUIRED
        >
<!ELEMENT subject EMPTY>
<!ATTLIST subject
        title CDATA #REQUIRED
        mark (1|2|3|4|5) #REQUIRED
        >
<!ELEMENT average (#PCDATA)>